name: Release

on:
  push:
    tags:
      - 'v*'

env:
  YARN_COMPRESSION_LEVEL: 0
  YARN_ENABLE_GLOBAL_CACHE: true

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master

      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'yarn'
          registry-url: https://registry.npmjs.org/

      - name: Install Dependencies
        run: yarn

      - name: Release
        run: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
